In [1]:
# Initial imports
import pandas as pd
from pathlib import Path

In [2]:
# Loading data
file_path = Path("../Resources/Apple_stock.csv")
aapl_stock = pd.read_csv(file_path)
aapl_stock.head()

     AAPL    AAPL.1  AAPL.2  AAPL.3    AAPL.4
0    open      high     low   close    volume
1  106.62    107.44  106.29  106.82  20302223
2   105.8     106.5  102.98  105.99  20683070
3  105.66  106.5699  105.64  106.11  21169917
4  106.14     106.8  105.62  106.73  20447284

In [4]:
# Loading data
file_path = Path("../Resources/AAPL_HEADLINES.csv")
aapl_hl = pd.read_csv(file_path)
aapl_hl.head()

,Headline,Date
0,"Apple Inc. stock falls Monday, underperforms m...","Nov. 9, 2020 at 4:30 p.m. ET"
1,Big Tech Stocks Are Lagging Today. Why They’ll...,"Nov. 9, 2020 at 1:45 p.m. ET"
2,"As Apple releases its new line of Macs, the bi...","Nov. 9, 2020 at 1:18 p.m. ET"
3,"In the Midst of Election Uncertainty, Younger ...","Nov. 6, 2020 at 9:21 p.m. ET"
4,Berkshire Buybacks Hit Record $9 Billion in Th...,"Nov. 7, 2020 at 8:49 a.m. ET"

In [3]:
# Data Cleaning
# Looking for missing values
df_aapl.isnull().sum().sum()

0

In [4]:
# Filling missing values with the previous ones
df_aapl = df_aapl.fillna(method ='pad')

In [ ]:
# Create the Features X and Target y Data

In [ ]:
# Split the Data into Test and Train Sets