In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from newsapi.newsapi_client import NewsApiClient
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# Load .env enviroment variables
load_dotenv()


# Set Alpaca API key and secret
alpaca_api_key = os.getenv("fb01c352891a3cc3e350856787c944ca")
alpaca_secret_key = os.getenv("b8cca5938262f2bb5300f8666c12028869eda82e")

api = tradeapi.REST("PKYSIX5VD8DLHIZOILZS", "Yv4AYGCNo9puqbXGPq2zF1sNrzy63CWCrWNJnOse", api_version='v2')

In [5]:
# Set the ticker
ticker = "AAPL"

# Set timeframe to '1D'
timeframe = "1D"

# Set current date and the date from one month ago using the ISO format
current_date = pd.Timestamp("2020-11-09", tz="America/New_York").isoformat()
past_date = pd.Timestamp("2016-08-27", tz="America/New_York").isoformat()

# Get 4 weeks worth of historical data for AAPL
apple_df = api.get_barset(
    ticker,
    timeframe,
    limit=None,
    start=past_date,
    end=current_date,
    after=None,
    until=None,
).df

# Display data
apple_df.head()

                             AAPL
                             open      high     low   close    volume
2016-08-29 00:00:00-04:00  106.62  107.4400  106.29  106.82  20302223
2016-08-30 00:00:00-04:00  105.80  106.5000  102.98  105.99  20683070
2016-08-31 00:00:00-04:00  105.66  106.5699  105.64  106.11  21169917
2016-09-01 00:00:00-04:00  106.14  106.8000  105.62  106.73  20447284
2016-09-02 00:00:00-04:00  107.70  108.0000  106.82  107.73  21641523

In [7]:
apple_df.to_csv("Apple_stock.csv",header=True,index=False)

In [10]:
# Drop Outer Table Level
apple_closed_df = apple_df.droplevel(axis=1, level=0)

# Use the drop function to drop extra columns
apple_closed_df = apple_closed_df.drop(columns=["open", "high", "low", "volume"])

# Since this is daily data, we can keep only the date (remove the time) component of the data
apple_closed_df.index = apple_closed_df.index.date

# Display sample data
apple_closed_df.head()

             close
2016-08-29  106.82
2016-08-30  105.99
2016-08-31  106.11
2016-09-01  106.73
2016-09-02  107.73

In [ ]:
apple_closed_df

In [16]:
# Use the `pct_change` function to calculate daily returns of AAPL
aapl_returns = apple_closed_df.pct_change().dropna()

# Display sample data
aapl_returns.head()

               close
2016-08-30 -0.007770
2016-08-31  0.001132
2016-09-01  0.005843
2016-09-02  0.009369
2016-09-06 -0.000278

In [8]:
aapl_returns.to_csv("Apple_returns.csv",header=True,index=False)

NameError: name 'aapl_returns' is not defined