In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from newsapi.newsapi_client import NewsApiClient
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# Load .env enviroment variables
load_dotenv()


# Set Alpaca API key and secret
alpaca_api_key = os.getenv("fb01c352891a3cc3e350856787c944ca")
alpaca_secret_key = os.getenv("b8cca5938262f2bb5300f8666c12028869eda82e")

api = tradeapi.REST("PKYSIX5VD8DLHIZOILZS", "Yv4AYGCNo9puqbXGPq2zF1sNrzy63CWCrWNJnOse", api_version='v2')

In [26]:
df

               close
2016-08-29  215.2000
2016-08-30  211.3400
2016-08-31  211.9500
2016-09-01  200.7700
2016-09-02  197.7800
2016-09-06  202.8200
2016-09-07  201.7000
2016-09-08  197.4900
2016-09-09  194.4700
2016-09-12  198.2800
2016-09-13  196.0500
2016-09-14  196.4900
2016-09-15  200.2400
2016-09-16  205.4000
2016-09-19  206.3400
2016-09-20  204.5200
2016-09-21  205.2000
2016-09-22  206.2800
2016-09-23  207.4500
2016-09-26  209.0300
2016-09-27  205.8900
2016-09-28  206.2700
2016-09-29  200.7000
2016-09-30  204.0100
2016-10-03  213.6575
2016-10-04  211.4000
2016-10-05  208.4500
2016-10-06  201.0900
2016-10-07  196.5900
2016-10-10  200.9200
...              ...
2020-09-29  418.9900
2020-09-30  428.9700
2020-10-01  447.8100
2020-10-02  415.2699
2020-10-05  425.5000
2020-10-06  413.7001
2020-10-07  425.1900
2020-10-08  425.9200
2020-10-09  433.9600
2020-10-12  442.0000
2020-10-13  446.6500
2020-10-14  461.4700
2020-10-15  448.8800
2020-10-16  439.9100
2020-10-19  430.8300
2020-10-20  421.9700
2020-10-21  422.5000
2020-10-22  425.9000
2020-10-23  420.6150
2020-10-26  420.2800
2020-10-27  424.4710
2020-10-28  406.0000
2020-10-29  410.6400
2020-10-30  388.0400
2020-11-02  400.5100
2020-11-03  423.7400
2020-11-04  420.9100
2020-11-05  438.0900
2020-11-06  429.9200
2020-11-09  421.3900

[1058 rows x 1 columns]

In [39]:
ticks = ["AAPL",'SPY','TSLA']

In [40]:
# Set the ticker
for ticker in ticks:

    # Set timeframe to '1D'
    timeframe = "1D"

    # Set current date and the date from one month ago using the ISO format
    current_date = pd.Timestamp("2020-11-09", tz="America/New_York").isoformat()
    past_date = pd.Timestamp("2016-08-27", tz="America/New_York").isoformat()

    # Get 4 weeks worth of historical data for AAPL
    df = api.get_barset(
        ticker,
        timeframe,
        limit=None,
        start=past_date,
        end=current_date,
        after=None,
        until=None,
    ).df
    
    df.to_csv(f"{ticker}_stock.csv",header=True,index=True)
    
    # Drop Outer Table Level
    df = df.droplevel(axis=1, level=0)

    # Use the drop function to drop extra columns
    df = df.drop(columns=["open", "high", "low", "volume"])
    

    # Since this is daily data, we can keep only the date (remove the time) component of the data
    df.index = df.index.date
    
    # Use the `pct_change` function to calculate daily returns of AAPL
    returns = df.pct_change().dropna()
    
    returns.to_csv(f"{ticker}_returns.csv",header=True,index=True)